{% extends "layout_depart.html" %}

{% block content%}   
    <div class="container">
              <div style="margin-bottom: 10px;">
                  <a class = "btn btn-success" href="/user/add/" >
                      
                      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                      新建用户
                    </a>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                    
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    用户列表
                </div>
                <table class = "table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>密码</th>
                            <th>年龄</th>
                            <th>余额</th>
                            <th>入职日期</th>
                            <th>部门</th>
                            <th>操作</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for obj in queryset %}
                        <tr>
                            
                            <th>
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </th>
                            <th>{{ obj.name }}</th>
                            <th>{{ obj.get_gender_display }}</th>  <!--注意这个地方性别的取值，get_gender_display后不加括号-->
                            <th>{{ obj.password }}</th>
                            <th>{{ obj.age }}</th>
                            <th>{{ obj.account }}</th>
                            <th>{{ obj.create_time|date:"Y-m-d" }}</th>
                            <th>{{ obj.depart.title}}</th> <!--注意这个地方“部门”的取值，外键-->
                            <th>
                                <a class = "btn btn-primary btn-xs" href="/user/{{ obj.id }}/edit/">编辑</a>
                                <a class = "btn btn-danger btn-xs" href="/user/{{ obj.id }}/delete/">删除</a>
                            </th>                           
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
              </div>
    </div>
{% endblock%}
